body{
    background-image: url('https://shrm-res.cloudinary.com/image/upload/c_crop,h_1193,w_2120,x_0,y_0/w_auto:100,w_1200,q_35,f_auto/v1/Employee%20Relations/iStock-1065782440_yodyej.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  form {
    background: darkblue;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
  .text-center {
    text-align: center;
  }
  .container{
  width: 100%;
  margin: 3.125rem auto 0 auto;}

  .myForm{
      background-color: #0f00008b;
      padding: 1.em;
      margin: auto;
      max-width: 60%;
  }
  .form-group{
      margin: 0 2.2em 0.25rem 1em;
    padding: 0.25rem;
  }
  label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  .submit-button{
    width: 100%;
    padding: 0.7em;
    background-color: lightgreen;
    font-size: 1.2rem;
  }
  .form-control{
    display: block;
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  textarea{
      min-width: 90%;
      min-height: 249px;
  }