body{
    background-image: url('https://shrm-res.cloudinary.com/image/upload/c_crop,h_1193,w_2120,x_0,y_0/w_auto:100,w_1200,q_35,f_auto/v1/Employee%20Relations/iStock-1065782440_yodyej.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-title{
    font-size: 2em;
    font-weight: 700;
}
.header-secondary{
    font-size: 1.5em;
    font-weight: 400;
}